In [11]:
import pandas as pd
from datetime import datetime

In [12]:
data = pd.read_csv('./CA-COVID19-Data.csv', index_col='Date')

In [13]:
difference = data.diff(axis=0);

In [14]:
def date_converter(date):
    datetime_object = datetime.strptime(date, '%m/%d/%y')
    return datetime_object.strftime("%m-%d-%Y")

In [8]:
# ,Country_Region,Province_State,Confirmed,Recovered,Active,Deaths,Date

In [28]:
result = []
for column in data.columns:
    day = 1
    for date, count in data[column].iteritems():
        if count > 0:
            result.append([day, "United States", column, count, 0, 0, 0, date_converter(date)])
            day+=1

In [29]:
final = pd.DataFrame.from_records(result, columns=['','Country_Region','Province_State','Confirmed','Recovered',"Active",'Deaths','Date'])

In [32]:
final

,,Country_Region,Province_State,Confirmed,Recovered,Active,Deaths,Date
0,1,United States,Alameda,1,0,0,0,03-01-2020
1,2,United States,Alameda,1,0,0,0,03-02-2020
2,3,United States,Alameda,2,0,0,0,03-03-2020
3,4,United States,Alameda,2,0,0,0,03-04-2020
4,5,United States,Alameda,2,0,0,0,03-05-2020
...,...,...,...,...,...,...,...,...
255,49,United States,Sonoma,11,0,0,0,03-19-2020
256,50,United States,Sonoma,22,0,0,0,03-20-2020
257,51,United States,Sonoma,24,0,0,0,03-21-2020
258,52,United States,Sonoma,24,0,0,0,03-22-2020
259,53,United States,Sonoma,29,0,0,0,03-23-2020

In [30]:
# final.reset_index(inplace=True)

In [33]:
final.to_csv("output.csv", index=False)